/* styles.css */

:root {
    --header-height: 125px;
    --header-padding: 15px;
    --footer-height: 70px;
    --footer-padding: 15px;

    /* Colors */
    --yellow: #ffc928;
    --yellowLight: #ffff6f;
    --honey: #784600;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    height: 70px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    gap: 30px;
}

/* General */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--honey);
    text-align: center;
}

/* Header and Nav Menu */

header {
    height: calc(var(--header-height));
    padding-top: var(--header-padding);
    padding-bottom: var(--header-padding);
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

header .header-logo {
    height: 100%;
}

header .nav {
    display: flex;
    justify-content: center;
}

header .nav ul.nav-menu {
    display: flex;
    height: auto;
}

header .nav ul.nav-menu li.nav-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Main Content */

main {
    background-image: url("../assets/images/honeycomb-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100dvh - (var(--header-height) + var(--footer-height)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #ffff6f;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    border-radius: 20px;
    padding: 30px;
}

/* Buttons */

.btn {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 1.125rem;
}

.btn-menu {
    padding: 10px 30px;
    border-bottom: 5px solid transparent;
    transition: all 0.15s ease;
}

.btn-menu:hover {
    border-color: rgb(255, 201, 40, 0.35);
}

.active .btn-menu,
.btn-menu.active,
.btn-menu:active {
    border-color: var(--yellow);
}

/* Review */

.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 5px;
    font-size: 1.125rem;
    border-left: 5px solid var(--yellow);
    padding-left: 15px;
}

.review-card .rating {
    display: flex;
    align-self: center;
    gap: 5px;
}

.review-card .star {
    width: 20px;
    height: 20px;
    stroke: black;
    stroke-width: 1px;
    color: black;
}

.review-card .star.filled {
    color: var(--yellow);
}

.review-card .cite {
    display: block;
    align-self: flex-end;
}

.hours-card {
    border: 5px solid var(--yellow);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.hours-card svg {
    width: 1em;
    height: 1em;
}

.hours-card ul {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.hours-card ul>li {
    display: flex;
    align-items: center;
    line-height: 1em;
}

.hours-card .clock {
    display: block;
}

.hours-card .weekday {
    display: block;
    text-transform: uppercase;
    margin-left: 10px;
}

.hours-card .dots {
    display: block;
    flex-grow: 1;
    height: 100%;
    border-bottom: 2px dotted black;
}

.hours-card .hours {
    position: relative;
    display: block;
    justify-self: flex-end;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    main {
        height: 100%;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .review-card,
    .hours-card {
        font-size: 1rem;
    }
}